## Preprocessing Data
Preprocessing is inspired by the following paper
https://www.mdpi.com/2073-4433/13/10/1719

In [2]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

In [3]:
df = pd.read_csv("beijing_air_quality_data.csv")
df.head(5)

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Aotizhongxin
1,2,2013,3,1,1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,N,4.7,Aotizhongxin
2,3,2013,3,1,2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Aotizhongxin
3,4,2013,3,1,3,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Aotizhongxin
4,5,2013,3,1,4,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,N,2.0,Aotizhongxin

In [4]:
df = df.drop(['station', 'year','month','day','hour'], axis=1)
df.head(5)

,No,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM
0,1,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,NNW,4.4
1,2,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,N,4.7
2,3,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,NNW,5.6
3,4,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,NW,3.1
4,5,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,N,2.0

In [5]:
wd_unique_values = df['wd'].unique()
wd_unique_values

array(['NNW', 'N', 'NW', 'NNE', 'ENE', 'E', 'NE', 'W', 'SSW', 'WSW', 'SE',
       'WNW', 'SSE', 'ESE', 'S', 'SW', nan], dtype=object)

In [6]:
df['wd'].isnull().sum()

81

In [7]:
wd_reshaped = np.array(df['wd']).reshape(-1, 1)
wd_encoder = OneHotEncoder()
wd_values = wd_encoder.fit_transform(wd_reshaped)
wd = pd.DataFrame(wd_values.toarray(),columns=wd_unique_values)
wd.head(5)

,NNW,N,NW,NNE,ENE,E,NE,W,SSW,WSW,SE,WNW,SSE,ESE,S,SW,NaN
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
df_numeric = df.drop(['wd'], axis=1)
df_numeric.head(5)

   No  PM2.5  PM10   SO2   NO2     CO    O3  TEMP    PRES  DEWP  RAIN  WSPM
0   1    4.0   4.0   4.0   7.0  300.0  77.0  -0.7  1023.0 -18.8   0.0   4.4
1   2    8.0   8.0   4.0   7.0  300.0  77.0  -1.1  1023.2 -18.2   0.0   4.7
2   3    7.0   7.0   5.0  10.0  300.0  73.0  -1.1  1023.5 -18.2   0.0   5.6
3   4    6.0   6.0  11.0  11.0  300.0  72.0  -1.4  1024.5 -19.4   0.0   3.1
4   5    3.0   3.0  12.0  12.0  300.0  72.0  -2.0  1025.2 -19.5   0.0   2.0

In [9]:
df_numeric.isnull().sum()

No          0
PM2.5     925
PM10      718
SO2       935
NO2      1023
CO       1776
O3       1719
TEMP       20
PRES       20
DEWP       20
RAIN       20
WSPM       14
dtype: int64

In [14]:
for col in df_numeric.columns:
  df_numeric[col].interpolate(method="linear", limit_direction="both",inplace=True)
imputed_vals = df_numeric.copy(deep=True)

In [15]:
df_numeric_imputed = pd.DataFrame(imputed_vals,columns=df_numeric.columns)
df_numeric_imputed.head()

   No  PM2.5  PM10   SO2   NO2     CO    O3  TEMP    PRES  DEWP  RAIN  WSPM
0   1    4.0   4.0   4.0   7.0  300.0  77.0  -0.7  1023.0 -18.8   0.0   4.4
1   2    8.0   8.0   4.0   7.0  300.0  77.0  -1.1  1023.2 -18.2   0.0   4.7
2   3    7.0   7.0   5.0  10.0  300.0  73.0  -1.1  1023.5 -18.2   0.0   5.6
3   4    6.0   6.0  11.0  11.0  300.0  72.0  -1.4  1024.5 -19.4   0.0   3.1
4   5    3.0   3.0  12.0  12.0  300.0  72.0  -2.0  1025.2 -19.5   0.0   2.0

In [16]:
df_numeric_imputed.isnull().sum()

No       0
PM2.5    0
PM10     0
SO2      0
NO2      0
CO       0
O3       0
TEMP     0
PRES     0
DEWP     0
RAIN     0
WSPM     0
dtype: int64

In [30]:
df_numeric_scale_vals = df_numeric_imputed.drop(['No'], axis=1)
df_numeric_scale_vals.head(5)

   PM2.5  PM10   SO2   NO2     CO    O3  TEMP    PRES  DEWP  RAIN  WSPM
0    4.0   4.0   4.0   7.0  300.0  77.0  -0.7  1023.0 -18.8   0.0   4.4
1    8.0   8.0   4.0   7.0  300.0  77.0  -1.1  1023.2 -18.2   0.0   4.7
2    7.0   7.0   5.0  10.0  300.0  73.0  -1.1  1023.5 -18.2   0.0   5.6
3    6.0   6.0  11.0  11.0  300.0  72.0  -1.4  1024.5 -19.4   0.0   3.1
4    3.0   3.0  12.0  12.0  300.0  72.0  -2.0  1025.2 -19.5   0.0   2.0

In [31]:
scaler = MinMaxScaler()
df_scaled = scaler.fit_transform(df_numeric_scale_vals)

In [32]:
df_processed_numeric = pd.DataFrame(df_scaled,columns=df_numeric_scale_vals.columns)
df_processed_numeric.head(5)

,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
0,0.001117,0.002037,0.010902,0.017361,0.020202,0.181619,0.280977,0.661319,0.258621,0.0,0.392857
1,0.005587,0.006110,0.010902,0.017361,0.020202,0.181619,0.273997,0.664884,0.268025,0.0,0.419643
2,0.004469,0.005092,0.013837,0.027778,0.020202,0.172158,0.273997,0.670232,0.268025,0.0,0.500000
3,0.003352,0.004073,0.031447,0.031250,0.020202,0.169792,0.268761,0.688057,0.249216,0.0,0.276786
4,0.000000,0.001018,0.034382,0.034722,0.020202,0.169792,0.258290,0.700535,0.247649,0.0,0.178571

In [33]:
df_processed = pd.concat([df_processed_numeric,wd],axis=1)
df_processed

,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,...,W,SSW,WSW,SE,WNW,SSE,ESE,S,SW,NaN
0,0.001117,0.002037,0.010902,0.017361,0.020202,0.181619,0.280977,0.661319,0.258621,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.005587,0.006110,0.010902,0.017361,0.020202,0.181619,0.273997,0.664884,0.268025,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.004469,0.005092,0.013837,0.027778,0.020202,0.172158,0.273997,0.670232,0.268025,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.003352,0.004073,0.031447,0.031250,0.020202,0.169792,0.268761,0.688057,0.249216,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.001018,0.034382,0.034722,0.020202,0.169792,0.258290,0.700535,0.247649,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,0.010056,0.027495,0.013837,0.114583,0.030303,0.224193,0.511344,0.491979,0.299373,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35060,0.011173,0.035642,0.019707,0.149306,0.040404,0.191080,0.495637,0.493761,0.316614,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
35061,0.014525,0.035642,0.028512,0.222222,0.060606,0.136679,0.481675,0.504456,0.344828,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35062,0.020112,0.042770,0.034382,0.295139,0.060606,0.082278,0.476440,0.508021,0.351097,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35063,0.017877,0.029532,0.028512,0.267361,0.050505,0.098834,0.443281,0.502674,0.304075,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Generating Events
Events represent continuous segments of time series data, each indicating a specific occurrence. Each event maintains a consistent duration. The goal is to predict the following event, which is considered the target, based on the input of the current one.

In [34]:
# define window size and shift size
window_size = 25
shift_size = 5

In [35]:
# Create input events and target events
data = df_processed.values
input_events, target_events = [], []

for i in range(0, len(data) - window_size - shift_size + 1, shift_size):
    input_window = data[i:i + window_size]
    output_window = data[i + window_size:i + window_size + window_size]
    if len(input_window) == window_size and len(output_window) == window_size:
        input_events.append(np.array(input_window))
        target_events.append(np.array(output_window))

input_events = np.array(input_events)
target_events = np.array(target_events)

## Event Dimensionality Reduction Using SOM
Self-Organizing Maps (SOM) serve as topological maps for dimensionality reduction, where each SOM index corresponds to an event. The creation of this topological map is guided by the Frobenius Norm as the distance metric, effectively organizing events into a simplified, lower-dimensional space while preserving their topological characteristics.

In [36]:
import numpy as np
from typing import Tuple, Optional

class MAP ():

    def __init__(self, shape: Tuple, dim: Tuple, weights_path: Optional[str] = None):
        self.shape = shape
        self.dim = dim
        if weights_path:
            self.weights = self.load_weights(weights_path)
        else:
            self.weights = np.random.random(shape + dim)

    def save_weights(self, filepath: str) -> None:
        flattened_weights = self.weights.reshape(-1, np.prod(self.dim))
        np.savetxt(filepath, flattened_weights, delimiter=",")

    def load_weights(self, filepath: str) -> np.ndarray:
        flattened_weights = np.loadtxt(filepath, delimiter=",")
        return flattened_weights.reshape(self.shape + self.dim)

    def interpolate(self, index: Tuple) -> np.ndarray:

        # Clamp index to the bounds of the weight matrix
        x_index, y_index = index
        x_index = max(0, min(x_index, self.shape[0] - 1))
        y_index = max(0, min(y_index, self.shape[1] - 1))

        # Calculate the indices of the corners
        x_floor, y_floor = np.floor([x_index, y_index]).astype(int)
        x_ceil, y_ceil = np.ceil([x_index, y_index]).astype(int)

        # If the index is at an exact location, return the weight at that index
        if (x_floor == x_ceil) and (y_floor == y_ceil):
            return self.weights[x_floor, y_floor]

        # Calculate the interpolation weights
        x_weight = x_index - x_floor
        y_weight = y_index - y_floor

        # Interpolate between the four surrounding points
        top_left = self.weights[x_floor, y_floor]
        top_right = self.weights[min(x_ceil, self.shape[0] - 1), y_floor]
        bottom_left = self.weights[x_floor, min(y_ceil, self.shape[1] - 1)]
        bottom_right = self.weights[min(x_ceil, self.shape[0] - 1), min(y_ceil, self.shape[1] - 1)]

        # Perform bilinear interpolation
        top_interp = (1 - x_weight) * top_left + x_weight * top_right
        bottom_interp = (1 - x_weight) * bottom_left + x_weight * bottom_right
        interpolated_weight = (1 - y_weight) * top_interp + y_weight * bottom_interp

        return interpolated_weight



class SOM(MAP):
    def __init__(self, shape: Tuple[int, int], dim: Tuple, sigma_i: float = 10.0, sigma_f: float = 0.01, lrate_i: float = 0.5, lrate_f: float = 0.005, weights_path: Optional[str] = None):
        super().__init__(shape, dim, weights_path)
        self.sigma_i, self.sigma_f = sigma_i, sigma_f
        self.lrate_i, self.lrate_f = lrate_i, lrate_f
        self.global_t = 0
        self.total_iterations = 0
    
    def get_bmu_sequences(self, data) -> np.ndarray:
        n_samples = data.shape[0]
        bmu_sequences = []
        indices = np.arange(n_samples)

        for idx in indices:
            input = data[idx]
            dist = np.linalg.norm(self.weights-input, axis=(2, 3))
            bmu_location = np.unravel_index(np.argmin(dist, axis=None), dist.shape)
            bmu_sequences.append(bmu_location)
        
        return np.array(bmu_sequences)

    def learn(self, data: np.ndarray, epochs: int = 100, shuffle: bool = True, random_state=None) -> None:
        self.total_iterations = epochs * data.shape[0]
        n_samples = data.shape[0]

        for epoch in range(epochs):
            print(f'Epoch {epoch+1}/{epochs}', end='\r')
            if shuffle:
                rng = np.random.default_rng(random_state)
                indices = rng.permutation(n_samples) # Shuffle indices
            else:
                indices = np.arange(n_samples)

            for idx in indices:
                input = data[idx]
                self.step(input) # Do one step of training

    def step(self, x: np.ndarray) -> None:

        dist = np.linalg.norm(self.weights-x, axis=(2, 3))
        bmu_location = np.unravel_index(np.argmin(dist, axis=None), dist.shape) # best matching unit location
        dist_to_bmu = np.linalg.norm(np.stack(np.indices(self.shape), axis=-1) - bmu_location, axis=-1)  # distance from the best matching unit to all other nodes in the map

        # update learning rate and sigma values
        t = self.global_t/self.total_iterations
        lrate = self.lrate_i*(self.lrate_f/self.lrate_i)**t
        sigma = self.sigma_i*(self.sigma_f/self.sigma_i)**t

        # update weights
        eta = lrate * np.exp(-1*dist_to_bmu**2 /(2 * sigma**2))
        self.weights += eta[:, :, np.newaxis, np.newaxis] * (x - self.weights)

        self.global_t += 1

## Train SOM and save weights

In [37]:
input_dim = (window_size, 28)
som_dim = (2**6,2**6)
som = SOM(shape = som_dim, dim=input_dim,lrate_i=1,sigma_i=max(som_dim)/2)
som.learn(input_events,100)
som.save_weights('som_weights.csv')

## Load weights and initialize SOM

In [38]:
input_dim = (window_size, 28)
som_dim = (2**6,2**6)
som = SOM(shape = som_dim, dim=input_dim,lrate_i=1,sigma_i=max(som_dim)/2,weights_path='som_weights.csv')

## Creating Dimensionally Reduced Dataset
Each input event is identified by the closest corresponding unit of the Self-Organizing Map (SOM), known as the best matching unit (BMU). Instead of using raw events, sequences of these BMUs are employed to train the Artificial Neural Network (ANN), effectively reducing the dataset's dimensionality while preparing it for efficient learning.

In [39]:
input = som.get_bmu_sequences(input_events)
target = som.get_bmu_sequences(target_events)

In [40]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

# Define the model with additional hidden layers
model = Sequential([
    Dense(units=64, activation='sigmoid', input_shape=(2,)), # Input layer
    Dense(units=128, activation='sigmoid'),
    Dense(units=2)  # Output layer with 2 neurons
])

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

In [41]:
from sklearn.model_selection import train_test_split
train_inputs, test_inputs, train_targets, test_targets = train_test_split(input, target, test_size=0.2, random_state=42)

In [42]:
model.fit(train_inputs,train_targets , epochs=200)
test_loss = model.evaluate(test_inputs, test_targets)
print('Test Loss:', test_loss)

Epoch 1/200
176/176 [==============================] - 0s 433us/step - loss: 827.4197
Epoch 2/200
176/176 [==============================] - 0s 413us/step - loss: 411.1072
Epoch 3/200
176/176 [==============================] - 0s 534us/step - loss: 351.8634
Epoch 4/200
176/176 [==============================] - 0s 449us/step - loss: 325.6408
Epoch 5/200
176/176 [==============================] - 0s 413us/step - loss: 312.4080
Epoch 6/200
176/176 [==============================] - 0s 403us/step - loss: 295.4458
Epoch 7/200
176/176 [==============================] - 0s 407us/step - loss: 272.1491
Epoch 8/200
176/176 [==============================] - 0s 405us/step - loss: 258.5177
Epoch 9/200
176/176 [==============================] - 0s 402us/step - loss: 252.7310
Epoch 10/200
176/176 [==============================] - 0s 413us/step - loss: 249.7074
Epoch 11/200
176/176 [==============================] - 0s 401us/step - loss: 248.0738
Epoch 12/200
176/176 [==============================] - 0s 406us/step - loss: 246.9257
Epoch 13/200
176/176 [==============================] - 0s 405us/step - loss: 246.5664
Epoch 14/200
176/176 [==============================] - 0s 406us/step - loss: 245.8082
Epoch 15/200
176/176 [==============================] - 0s 397us/step - loss: 245.9379
Epoch 16/200
176/176 [==============================] - 0s 411us/step - loss: 245.1672
Epoch 17/200
176/176 [==============================] - 0s 445us/step - loss: 244.3335
Epoch 18/200
176/176 [==============================] - 0s 405us/step - loss: 243.7761
Epoch 19/200
176/176 [==============================] - 0s 401us/step - loss: 244.2477
Epoch 20/200
176/176 [==============================] - 0s 400us/step - loss: 244.0262
Epoch 21/200
176/176 [==============================] - 0s 404us/step - loss: 243.3224
Epoch 22/200
176/176 [==============================] - 0s 402us/step - loss: 243.1737
Epoch 23/200
176/176 [==============================] - 0s 402us/step - loss: 242.4361
Epoch 24/200
176/176 [==============================] - 0s 588us/step - loss: 242.4539
Epoch 25/200
176/176 [==============================] - 0s 396us/step - loss: 241.6406
Epoch 26/200
176/176 [==============================] - 0s 397us/step - loss: 241.6801
Epoch 27/200
176/176 [==============================] - 0s 402us/step - loss: 241.4360
Epoch 28/200
176/176 [==============================] - 0s 400us/step - loss: 241.0978
Epoch 29/200
176/176 [==============================] - 0s 402us/step - loss: 241.2207
Epoch 30/200
176/176 [==============================] - 0s 403us/step - loss: 241.5197
Epoch 31/200
176/176 [==============================] - 0s 403us/step - loss: 240.7741
Epoch 32/200
176/176 [==============================] - 0s 405us/step - loss: 240.6402
Epoch 33/200
176/176 [==============================] - 0s 402us/step - loss: 240.6053
Epoch 34/200
176/176 [==============================] - 0s 424us/step - loss: 240.5701
Epoch 35/200
176/176 [==============================] - 0s 462us/step - loss: 240.2185
Epoch 36/200
176/176 [==============================] - 0s 450us/step - loss: 239.8720
Epoch 37/200
176/176 [==============================] - 0s 416us/step - loss: 239.7833
Epoch 38/200
176/176 [==============================] - 0s 454us/step - loss: 239.9283
Epoch 39/200
176/176 [==============================] - 0s 451us/step - loss: 240.4512
Epoch 40/200
176/176 [==============================] - 0s 429us/step - loss: 239.9098
Epoch 41/200
176/176 [==============================] - 0s 405us/step - loss: 239.7961
Epoch 42/200
176/176 [==============================] - 0s 404us/step - loss: 239.5180
Epoch 43/200
176/176 [==============================] - 0s 401us/step - loss: 239.5427
Epoch 44/200
176/176 [==============================] - 0s 606us/step - loss: 239.5734
Epoch 45/200
176/176 [==============================] - 0s 420us/step - loss: 239.3658
Epoch 46/200
176/176 [==============================] - 0s 407us/step - loss: 239.1345
Epoch 47/200
176/176 [==============================] - 0s 402us/step - loss: 239.1385
Epoch 48/200
176/176 [==============================] - 0s 396us/step - loss: 239.9385
Epoch 49/200
176/176 [==============================] - 0s 420us/step - loss: 238.8683
Epoch 50/200
176/176 [==============================] - 0s 475us/step - loss: 239.0360
Epoch 51/200
176/176 [==============================] - 0s 460us/step - loss: 239.1012
Epoch 52/200
176/176 [==============================] - 0s 424us/step - loss: 238.8519
Epoch 53/200
176/176 [==============================] - 0s 408us/step - loss: 238.8894
Epoch 54/200
176/176 [==============================] - 0s 399us/step - loss: 239.2297
Epoch 55/200
176/176 [==============================] - 0s 404us/step - loss: 238.4365
Epoch 56/200
176/176 [==============================] - 0s 397us/step - loss: 238.4555
Epoch 57/200
176/176 [==============================] - 0s 400us/step - loss: 239.2355
Epoch 58/200
176/176 [==============================] - 0s 397us/step - loss: 238.4285
Epoch 59/200
176/176 [==============================] - 0s 406us/step - loss: 239.8738
Epoch 60/200
176/176 [==============================] - 0s 404us/step - loss: 238.5390
Epoch 61/200
176/176 [==============================] - 0s 584us/step - loss: 238.4857
Epoch 62/200
176/176 [==============================] - 0s 431us/step - loss: 238.2583
Epoch 63/200
176/176 [==============================] - 0s 491us/step - loss: 237.9832
Epoch 64/200
176/176 [==============================] - 0s 485us/step - loss: 238.0158
Epoch 65/200
176/176 [==============================] - 0s 479us/step - loss: 238.0770
Epoch 66/200
176/176 [==============================] - 0s 419us/step - loss: 238.0069
Epoch 67/200
176/176 [==============================] - 0s 406us/step - loss: 238.0410
Epoch 68/200
176/176 [==============================] - 0s 410us/step - loss: 237.9693
Epoch 69/200
176/176 [==============================] - 0s 402us/step - loss: 238.1138
Epoch 70/200
176/176 [==============================] - 0s 399us/step - loss: 238.0513
Epoch 71/200
176/176 [==============================] - 0s 404us/step - loss: 237.6885
Epoch 72/200
176/176 [==============================] - 0s 403us/step - loss: 237.4925
Epoch 73/200
176/176 [==============================] - 0s 405us/step - loss: 238.0394
Epoch 74/200
176/176 [==============================] - 0s 402us/step - loss: 238.0491
Epoch 75/200
176/176 [==============================] - 0s 594us/step - loss: 237.3510
Epoch 76/200
176/176 [==============================] - 0s 402us/step - loss: 237.6882
Epoch 77/200
176/176 [==============================] - 0s 400us/step - loss: 237.5461
Epoch 78/200
176/176 [==============================] - 0s 396us/step - loss: 237.5046
Epoch 79/200
176/176 [==============================] - 0s 402us/step - loss: 237.6932
Epoch 80/200
176/176 [==============================] - 0s 401us/step - loss: 236.9378
Epoch 81/200
176/176 [==============================] - 0s 402us/step - loss: 237.2393
Epoch 82/200
176/176 [==============================] - 0s 396us/step - loss: 237.7072
Epoch 83/200
176/176 [==============================] - 0s 402us/step - loss: 237.0799
Epoch 84/200
176/176 [==============================] - 0s 400us/step - loss: 237.3472
Epoch 85/200
176/176 [==============================] - 0s 401us/step - loss: 237.0811
Epoch 86/200
176/176 [==============================] - 0s 400us/step - loss: 237.1899
Epoch 87/200
176/176 [==============================] - 0s 406us/step - loss: 236.9804
Epoch 88/200
176/176 [==============================] - 0s 399us/step - loss: 236.9851
Epoch 89/200
176/176 [==============================] - 0s 394us/step - loss: 236.8178
Epoch 90/200
176/176 [==============================] - 0s 417us/step - loss: 236.9781
Epoch 91/200
176/176 [==============================] - 0s 404us/step - loss: 237.0269
Epoch 92/200
176/176 [==============================] - 0s 405us/step - loss: 236.9378
Epoch 93/200
176/176 [==============================] - 0s 400us/step - loss: 237.2252
Epoch 94/200
176/176 [==============================] - 0s 401us/step - loss: 237.1645
Epoch 95/200
176/176 [==============================] - 0s 397us/step - loss: 236.7087
Epoch 96/200
176/176 [==============================] - 0s 590us/step - loss: 236.9757
Epoch 97/200
176/176 [==============================] - 0s 405us/step - loss: 236.3247
Epoch 98/200
176/176 [==============================] - 0s 436us/step - loss: 236.1451
Epoch 99/200
176/176 [==============================] - 0s 436us/step - loss: 236.4493
Epoch 100/200
176/176 [==============================] - 0s 429us/step - loss: 236.0243
Epoch 101/200
176/176 [==============================] - 0s 413us/step - loss: 236.8617
Epoch 102/200
176/176 [==============================] - 0s 396us/step - loss: 236.3666
Epoch 103/200
176/176 [==============================] - 0s 398us/step - loss: 236.2886
Epoch 104/200
176/176 [==============================] - 0s 404us/step - loss: 236.3127
Epoch 105/200
176/176 [==============================] - 0s 405us/step - loss: 236.4353
Epoch 106/200
176/176 [==============================] - 0s 400us/step - loss: 236.3433
Epoch 107/200
176/176 [==============================] - 0s 410us/step - loss: 236.1148
Epoch 108/200
176/176 [==============================] - 0s 443us/step - loss: 236.2470
Epoch 109/200
176/176 [==============================] - 0s 431us/step - loss: 236.0009
Epoch 110/200
176/176 [==============================] - 0s 447us/step - loss: 236.0396
Epoch 111/200
176/176 [==============================] - 0s 424us/step - loss: 236.1897
Epoch 112/200
176/176 [==============================] - 0s 619us/step - loss: 235.8732
Epoch 113/200
176/176 [==============================] - 0s 411us/step - loss: 235.9565
Epoch 114/200
176/176 [==============================] - 0s 393us/step - loss: 235.8848
Epoch 115/200
176/176 [==============================] - 0s 393us/step - loss: 235.9530
Epoch 116/200
176/176 [==============================] - 0s 397us/step - loss: 235.7814
Epoch 117/200
176/176 [==============================] - 0s 395us/step - loss: 235.8422
Epoch 118/200
176/176 [==============================] - 0s 397us/step - loss: 235.6664
Epoch 119/200
176/176 [==============================] - 0s 412us/step - loss: 235.5909
Epoch 120/200
176/176 [==============================] - 0s 465us/step - loss: 235.5024
Epoch 121/200
176/176 [==============================] - 0s 454us/step - loss: 235.4904
Epoch 122/200
176/176 [==============================] - 0s 427us/step - loss: 235.4200
Epoch 123/200
176/176 [==============================] - 0s 441us/step - loss: 235.8741
Epoch 124/200
176/176 [==============================] - 0s 415us/step - loss: 235.6238
Epoch 125/200
176/176 [==============================] - 0s 400us/step - loss: 235.4256
Epoch 126/200
176/176 [==============================] - 0s 403us/step - loss: 235.2568
Epoch 127/200
176/176 [==============================] - 0s 585us/step - loss: 235.2779
Epoch 128/200
176/176 [==============================] - 0s 401us/step - loss: 235.2368
Epoch 129/200
176/176 [==============================] - 0s 405us/step - loss: 235.5988
Epoch 130/200
176/176 [==============================] - 0s 399us/step - loss: 234.9995
Epoch 131/200
176/176 [==============================] - 0s 399us/step - loss: 235.2111
Epoch 132/200
176/176 [==============================] - 0s 405us/step - loss: 235.1157
Epoch 133/200
176/176 [==============================] - 0s 401us/step - loss: 234.8816
Epoch 134/200
176/176 [==============================] - 0s 403us/step - loss: 235.2833
Epoch 135/200
176/176 [==============================] - 0s 400us/step - loss: 234.9592
Epoch 136/200
176/176 [==============================] - 0s 398us/step - loss: 235.0347
Epoch 137/200
176/176 [==============================] - 0s 403us/step - loss: 235.2052
Epoch 138/200
176/176 [==============================] - 0s 402us/step - loss: 234.8512
Epoch 139/200
176/176 [==============================] - 0s 409us/step - loss: 234.9618
Epoch 140/200
176/176 [==============================] - 0s 401us/step - loss: 235.1466
Epoch 141/200
176/176 [==============================] - 0s 395us/step - loss: 234.7447
Epoch 142/200
176/176 [==============================] - 0s 405us/step - loss: 234.4926
Epoch 143/200
176/176 [==============================] - 0s 402us/step - loss: 234.7038
Epoch 144/200
176/176 [==============================] - 0s 525us/step - loss: 234.3429
Epoch 145/200
176/176 [==============================] - 0s 444us/step - loss: 235.0995
Epoch 146/200
176/176 [==============================] - 0s 395us/step - loss: 234.6779
Epoch 147/200
176/176 [==============================] - 0s 406us/step - loss: 234.4977
Epoch 148/200
176/176 [==============================] - 0s 402us/step - loss: 234.4405
Epoch 149/200
176/176 [==============================] - 0s 398us/step - loss: 235.0331
Epoch 150/200
176/176 [==============================] - 0s 404us/step - loss: 234.2247
Epoch 151/200
176/176 [==============================] - 0s 427us/step - loss: 235.3176
Epoch 152/200
176/176 [==============================] - 0s 590us/step - loss: 234.7728
Epoch 153/200
176/176 [==============================] - 0s 945us/step - loss: 234.0543
Epoch 154/200
176/176 [==============================] - 0s 1ms/step - loss: 234.1816
Epoch 155/200
176/176 [==============================] - 0s 1ms/step - loss: 234.6562
Epoch 156/200
176/176 [==============================] - 0s 897us/step - loss: 234.1369
Epoch 157/200
176/176 [==============================] - 0s 468us/step - loss: 234.1493
Epoch 158/200
176/176 [==============================] - 0s 409us/step - loss: 234.2614
Epoch 159/200
176/176 [==============================] - 0s 399us/step - loss: 234.2365
Epoch 160/200
176/176 [==============================] - 0s 402us/step - loss: 234.0358
Epoch 161/200
176/176 [==============================] - 0s 526us/step - loss: 233.9763
Epoch 162/200
176/176 [==============================] - 0s 536us/step - loss: 233.7664
Epoch 163/200
176/176 [==============================] - 0s 767us/step - loss: 234.2665
Epoch 164/200
176/176 [==============================] - 0s 718us/step - loss: 234.0538
Epoch 165/200
176/176 [==============================] - 0s 842us/step - loss: 234.1261
Epoch 166/200
176/176 [==============================] - 0s 434us/step - loss: 233.8358
Epoch 167/200
176/176 [==============================] - 0s 496us/step - loss: 233.8324
Epoch 168/200
176/176 [==============================] - 0s 440us/step - loss: 234.1500
Epoch 169/200
176/176 [==============================] - 0s 417us/step - loss: 233.8080
Epoch 170/200
176/176 [==============================] - 0s 392us/step - loss: 233.8010
Epoch 171/200
176/176 [==============================] - 0s 391us/step - loss: 233.7638
Epoch 172/200
176/176 [==============================] - 0s 389us/step - loss: 233.8779
Epoch 173/200
176/176 [==============================] - 0s 473us/step - loss: 233.8006
Epoch 174/200
176/176 [==============================] - 0s 393us/step - loss: 234.2915
Epoch 175/200
176/176 [==============================] - 0s 391us/step - loss: 233.9815
Epoch 176/200
176/176 [==============================] - 0s 453us/step - loss: 233.7077
Epoch 177/200
176/176 [==============================] - 0s 413us/step - loss: 233.6103
Epoch 178/200
176/176 [==============================] - 0s 419us/step - loss: 233.9862
Epoch 179/200
176/176 [==============================] - 0s 398us/step - loss: 233.6487
Epoch 180/200
176/176 [==============================] - 0s 394us/step - loss: 234.1702
Epoch 181/200
176/176 [==============================] - 0s 394us/step - loss: 233.2651
Epoch 182/200
176/176 [==============================] - 0s 388us/step - loss: 233.4409
Epoch 183/200
176/176 [==============================] - 0s 402us/step - loss: 233.8537
Epoch 184/200
176/176 [==============================] - 0s 392us/step - loss: 233.4096
Epoch 185/200
176/176 [==============================] - 0s 399us/step - loss: 233.6001
Epoch 186/200
176/176 [==============================] - 0s 430us/step - loss: 233.0946
Epoch 187/200
176/176 [==============================] - 0s 418us/step - loss: 233.3503
Epoch 188/200
176/176 [==============================] - 0s 507us/step - loss: 233.6528
Epoch 189/200
176/176 [==============================] - 0s 430us/step - loss: 233.0614
Epoch 190/200
176/176 [==============================] - 0s 452us/step - loss: 233.5413
Epoch 191/200
176/176 [==============================] - 0s 425us/step - loss: 233.5874
Epoch 192/200
176/176 [==============================] - 0s 403us/step - loss: 233.3621
Epoch 193/200
176/176 [==============================] - 0s 428us/step - loss: 233.2741
Epoch 194/200
176/176 [==============================] - 0s 403us/step - loss: 233.6895
Epoch 195/200
176/176 [==============================] - 0s 400us/step - loss: 233.1543
Epoch 196/200
176/176 [==============================] - 0s 409us/step - loss: 233.0610
Epoch 197/200
176/176 [==============================] - 0s 401us/step - loss: 233.0077
Epoch 198/200
176/176 [==============================] - 0s 589us/step - loss: 233.0641
Epoch 199/200
176/176 [==============================] - 0s 402us/step - loss: 233.5853
Epoch 200/200
176/176 [==============================] - 0s 403us/step - loss: 233.1027
44/44 [==============================] - 0s 343us/step - loss: 232.8644
Test Loss: 232.86441040039062

In [43]:
predicted = model.predict(test_inputs)
predicted_weight = np.array([som.interpolate(pred) for pred in predicted])
target_weight = np.array([som.interpolate(target) for target in test_targets])

def mean_absolute_error(matrix1, matrix2):
    # Convert the matrices to NumPy arrays if they aren't already
    matrix1 = np.array(matrix1)
    matrix2 = np.array(matrix2)

    # Calculate the absolute differences
    absolute_differences = np.abs(matrix1 - matrix2)

    # Calculate the mean of the absolute differences
    mae = np.mean(absolute_differences)
    return mae

MAE = np.mean([mean_absolute_error(predicted_weight[i], target_weight[i]) for i in range(len(predicted_weight))])
print(f'Mean Absolute Error: {MAE}')

44/44 [==============================] - 0s 276us/step
Mean Absolute Error: 0.0923031153640831